<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>BLOG index with sidebar & slider | Amaze UI Examples</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="assets/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/css/app.css">
</head>

<body id="blog">
<!-- nav start -->
<nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button"
            data-am-collapse="{target: '#blog-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="blog-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li class="am-active"><a href="/">首页</a></li>
            <li class="am-active"><a href="/ranking">排行</a></li>
            <li class="am-active"><a href="/card">打卡</a></li>
        </ul>
        <div class="am-topbar-right am-form-inline">
            <ul class="am-nav am-nav-pills am-topbar-nav" th:if="${@userService.getUser()!=null}">
                <li><a href="/logout">退出</a></li>
            </ul>
            <ul class="am-nav am-nav-pills am-topbar-nav" th:if="${@userService.getUser()==null}">
                <li><a href="/login">登录</a></li>
                <li><a href="/register">注册</a></li>
            </ul>
        </div>
    </div>
</nav>
<hr/>
<!-- nav end -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-9 am-u-sm-12">
        <div layout:fragment="content">
            <p>Content goes here...</p>
        </div>
    </div>
    <div class="am-u-md-3 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor" th:if="${@userService.getUser()!=null}">
            <h3 class="blog-text-center blog-title">
                <span th:text="${@userService.getUser().getName()}">不知</span>
            </h3>
            <p th:text="'你好,'+${@userService.getUser().getName()}"></p>
        </div>
        <div class="blog-sidebar-widget blog-bor" th:if="${@userService.getUser()==null}">
            <h2 class="blog-text-center blog-title"><span>用户</span></h2>
            <p>
                你还没有
                <button><a href="/login">登录</a></button>
            </p>
            <p>
                或者去
                <button><a href="/register">注册</a></button>
                ?
            </p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Rinking</span></h2>
            <p>
                我是Rinking，一个打卡排行榜网站
            </p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>通告</span></h2>
            <ul class="am-list">
                <li><a href="#">我们都是共产主义的接班人</a></li>
            </ul>
        </div>
    </div>
</div>
<footer class="log-footer">
    <hr/>
    <div class="blog-text-center">© 2017 sheep3.cn</div>
</footer>


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
</body>
</html>