<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/layout">
<head>
    <title>Ranking-主题</title>
</head>
<body>
<div layout:fragment="content">
    <h2>主题列表</h2>
    <div class="am-cf">
        <a href="/topic/add"><button type="button" class="am-btn am-btn-success am-radius am-fr">添加主题</button></a>
    </div>

    <br/>
    <hr/>
    <br/>
    <table class="am-table">
        <thead>
        <tr>
            <th>主题</th>
            <th>描述</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="topic : ${topicList}">
            <tr>
                <td th:text="${topic.name}"></td>
                <td th:text="${topic.desc}"></td>
                <td th:text="${topic.create_time}"></td>
                <td><a th:href="'/topic/' + ${topic.id} + '/follow'"><button type="button" class="am-btn am-btn-secondary am-radius">关注</button></a></td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>