<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="common/layout">
<head>
    <title>Ranking-主页</title>
</head>
<body>
<div layout:fragment="content" class="am-g am-g-fixed blog-fixed">
    <div class="am-u-md-9 am-u-sm-12">
        <h2>hello world!!!</h2>
    </div>
    <div class="am-u-md-3 am-u-sm-12 blog-sidebar">
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-text-center blog-title"><span>Rinking</span></h2>
            <p>
                我是Rinking，一个打卡排行榜网站
            </p>
        </div>
        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>通告</span></h2>
            <ul class="am-list">
                <li><a href="#">我们都是共产主义的接班人</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>